.tooltip {
  position: absolute;
  background: steelblue;
  display: none;
  padding: 10px;
}

.tooltip.show {
  display: block;
}

.tooltip .title {
  font-weight: bold;
}

.synonym {
  padding: 3px;
  margin-bottom: 3px;
}

.synonym:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.info {
  margin-top: 0;
  font-size: 0.8rem;
}
